{% extends "document_download_template.html" %}
{% block per_page_title %}Pagina niet gevonden{% endblock %}
{% block main_content %}
  <p class="govuk-body">
    Als u op een link in een e-mail heeft geklikt, neem dan contact op met de afzender om te laten weten dat u het bestand niet kunt downloaden.
  </p>
  <p class="govuk-body">
    Controleer of het webadres correct is ingevuld.
  </p>
  <p class="govuk-body">
    Als u het webadres heeft geplakt, controleer dan of u het volledige adres hebt gekopieerd.
  </p>
{% endblock %}
